---
import Layout from '../layouts/BaseLayout.astro'
import Container from '../components/Container.astro'
import TechCard from '../components/TechCard.astro'
---

<Layout>
  <section id="profile" class="min-h-screen">
    <Container title="PROFILE">
      <div class="flex flex-row">
        <div>
          <p>/Description</p>
          <p>
            I am an undergraduate Computer Science student at State Polytechnic of Malang, 
            specializing as no specialization i just generalist with no capable of limiting or focusing 
            on one subject, also im single, if you want to make me as your dog and leash me whatever you want,
            feel free to connect.
          </p>
          <p>/Techstack</p>
          <TechCard name="Astro" icon="favicon.svg" highlight={false} />
          <TechCard name="Astro" icon="favicon.svg" highlight={false} />
          <TechCard name="Astro" icon="favicon.svg" highlight={false} />
          <p>/Language</p>
          <TechCard name="Astro" icon="favicon.svg" highlight={true} />
          <TechCard name="Astro" icon="favicon.svg" highlight={true} />
          <TechCard name="Astro" icon="favicon.svg" highlight={false} />
        </div>
        <div class="flex flex-col">
          <p>Image</p>
          <img src="/profile.jpg" alt="Profile Picture" class="w-72 h-98 border-2 border-pink-500" />
        </div>
      </div>
    </Container> 
  </section>

  <section id="projects" class="min-h-screen">
    <Container title="PROJECTS" />
  </section>

  <section id="blog" class="min-h-screen">
    <Container title="BLOG" />
  </section>
</Layout>
