---
import BlogCard from './BlogCard.astro';
import type { Blog } from '@/types/blog.ts';

interface Props {
  blogs: Blog[];
}

const { blogs } = Astro.props as Props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
  {blogs.map((b) => (
    <BlogCard 
      title={b.title}
      excerpt={b.excerpt}
      date={b.date}
      readTime={b.readTime}
      tags={b.tags}
      href={b.href}
    />
  ))}
  {blogs.length === 0 && (
    <div class="text-sm text-gray-300">No posts yet. Coming soon.</div>
  )}
</div>
