---
const { content } = Astro.props;
const { title, image, description, tech} = content.data;
---

<article class="prose prose-invert">
  <img src={image} alt={title} class="rounded-xl mb-4" />
  <h1>{title}</h1>
  <p class="text-lg">{description}</p>

  <div class="mt-4 flex gap-2 flex-wrap">
    {tech.map(t => <span class="bg-main text-black px-3 py-1 rounded text-xs">{t}</span>)}
  </div>

  <slot name="content">
    {content.body}
  </slot>

</article>
