---
import type { CollectionEntry } from 'astro:content';
import '../styles/global.css';
import ArticleContainer from '@components/ArticleContainer.astro';
import ProjectSidebar from '@components/Projects/ProjectSidebar.astro';
import { Image } from 'astro:assets';
import BackButton from '@components/BackButton.astro';

interface Props {
  content: CollectionEntry<'projects'>;
}

const { content } = Astro.props;
const { title, image, description, tech = [], url, sourceUrl } = content.data;
const { Content, headings } = await content.render();
---
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <article class="crt-bg-flat min-h-screen mx-auto">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-24 py-8 md:py-12">
      <BackButton href="/#projects" text="Back to Projects"/>

      <ArticleContainer title={title} description={description}>
        <!-- Mobile -->
        <div class="md:hidden space-y-6">
          <Image 
            src={image} 
            alt={title}
            width={800}
            height={450}
            class="image-border2 w-full object-cover aspect-video"
            loading="lazy" 
          />

          <ProjectSidebar 
            title={title}
            tech={tech}
            url={url}
            sourceUrl={sourceUrl}
          />

          <div class="text-sm text-white-text sm:text-base mt-4 break-words overflow-hidden">
            <div class="w-full purosu">
              <Content />
            </div>
          </div>
        </div>
        
        <!-- Desktop -->
        <div class="hidden md:grid md:grid-cols-[3fr_auto_1fr] gap-6">
          <div class="w-full overflow-hidden">
            <Image 
              src={image} 
              alt={title}
              width={1200}
              height={675}
              class="image-border2 w-full object-cover aspect-video" 
              loading="lazy"
            />

            <div class="text-sm text-white-text sm:text-base mt-4 break-words overflow-hidden">
              <div class="w-full purosu max-w-none">
                <Content />
              </div>
            </div>
          </div>
          
          <div class="bg-tertiary w-2px h-full"></div>

          <ProjectSidebar 
            title={title}
            tech={tech}
            url={url}
            sourceUrl={sourceUrl}
            headings={headings}
          />
        </div>
      </ArticleContainer>
    </div>
  </article>
</html>